<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

<link href="{{ site.baseurl}}/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl}}/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ site.baseurl}}/css/style.css" rel='stylesheet' type='text/css' />
<script src="{{ site.baseurl}}/js/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
		});
	});
</script>
<script type="application/x-javascript">
	addEventListener("load", function() {setTimeout(hideURLbar, 0);}, false); 
	function hideURLbar(){ window.scrollTo(0,1); } 
</script>

<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Nova"></a> </div>
    <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
      <ul class="nav" id="nav">
        <li class="current"><a href="index.html">首页</a></li>
        <li><a href="about.html">关于</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="./blog/">博客</a></li>
        <li><a href="contact.html">联系我</a></li>
        <div class="clear"></div>
      </ul>
      <script type="text/javascript" src="{{ site.baseurl}}/js/responsive-nav.js"></script> 
    </div>
    <div class="clearfix"> </div>
  </div>
</div>